@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=DM+Serif+Display:ital@0;1&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=DM+Serif+Display:ital@0;1&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 36px;
}
body {
  box-sizing: border-box;
  margin: 0;
  background: #eee;
}
.imgdiv {
  position: relative;
}
.infodiv {
  width: 32px;
  height: 32px;
  background-color: white;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
  position: absolute;
  left: 304px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.container {
  width: 360px;
  height: 528px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--White, #fff);
}
.name {
  color: var(--Heading-text, #081f32);
  font-family: "DM Serif Display";
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.24px;
}
.firediv {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--Cards-3-main-button, #f8593b);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wheatdiv {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--Cards-3-best-offer, #ffc22b);
  display: flex;
  align-items: center;
  justify-content: center;
}
.leafdiv {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--Cards-4-action-color, #2ecc71);
  display: flex;
  align-items: center;
  justify-content: center;
}
.firstline {
  display: flex;
  align-items: center;
  margin-left: 24px;
  justify-content: space-between;
  margin-right: 24px;
}
.text {
  color: var(--Additional-text, #6e798c);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  width: 312px;
  margin-top: 0px;
  margin-left: 24px;
}
.thirdline {
  display: flex;
  margin-top: 0px;
  margin-left: 24px;
  justify-content: space-between;
  margin-right: 23px;
}
.smallinfo {
  color: var(--Cards-4-info-text, #a5adbb);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}
.lastline {
  display: flex;
  align-items: center;
  margin-left: 24px;
}
.newprice {
  color: var(--Heading-text, #081f32);
  font-family: "DM Serif Display";
  font-size: 28px;
  font-weight: 400;
  line-height: 25px;
}
.oldprice {
  color: var(--Cards-3-main-button, #f8593b);
  font-family: "DM Serif Display";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-decoration-line: strikethrough;
  text-decoration: line-through 1px;
  margin-left: 15px;
}
.button {
  width: 114px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--Cards-4-action-color, #2ecc71);
  color: var(--White, #fff);
  text-align: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2.52px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 53px;
  cursor: pointer;
}
.iconsdiv {
  display: flex;
  gap: 14px;
}
#pizzaleaf {
  display: none;
}
#cakeleaf {
  display: none;
}

#cakefire {
  display: none;
}
